---
---
// medyo okay na to

@import "{{ site.theme }}";

$color_1: #A0A08B;
$color_2: #008451;
$color_3: #FBB231;
$color_4: #E44631;
$color_5: #555568;
$color_6: #4554A4;

body {
	color: $color_1;
}

header {
	border-bottom: 1px dashed $color_1;

header h1 {
	color: $color_2;
}

h1, h1, h2, h3, h4, h5, h6 {
	color:$color_2;
}

a {
	color: $color_3;
}

code.highlighter-rouge {
	color: $color_4;
}

th {
	color: $color_1;
	border-bottom: 1px dashed
}

hr {
	color: $color_1;
	border-bottom: 1px dashed $color_1;
}

li::marker {
	color: $color_1;
}

ul li {
		list-style-image: none;
		margin: 0;
		padding: 0; 
}