<div id="content"><h1 id="-files">FILES</h1>
<hr />
<h1 id="-latest-posts">LATEST POSTS</h1>
<h2 id="--for-desiginguseful-sites-designhtml">- <a href="./_posts/2023-08-07-Useful-sites-design.md">FOR DESIGING</a></h2>

{% for post in site.posts %}
<li>
  <a href="{{%20post.url%20}}">{{post.title}}</a>
</li>{% endfor %}

<hr />
<h1 id="useful-sites">USEFUL SITES</h1>
<h2 id="--for-desiginguseful-sites-designhtml">- <a href=""./_posts/2023-08-07-Useful-sites-design.md"">FOR DESIGING</a></h2>
<hr />

</div>
